<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/splash.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.ico">
    <title>
        {{#if title}}
            {{title}}
            {{else}}
            Dasher
            {{/if}}
            </title>

</head>
<body>
    {{{body}}}
<script src="javascripts/jquery.flip.min.js"></script>
  <script src="javascripts/main.js"></script>
  
  
</body>
</html>

{{!-- NEEDS TO ADD THE SCRIPTS FOR THE FLIP IN THE HEAD --}}