html,body{
  width:100%;
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

header{
  display: flex;
  background-color: #003333;
  height: 50px;
  padding:0;
  width: 101%;
  flex-direction: row;
  border: 1px solid white;
  
}
header > div > p{
  font-family:Arial, Helvetica, sans-serif ;
  text-decoration: underline;
  clear: both; 
  justify-content: center;
  padding-left: 30px;
}

.dropdown .dropbtn {
  background-color: black;
  color: white;
  /*padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #004d4d;
}


/*form style*/
.settings {
  display: flex;
  justify-content: center;
  align-content: center;
  color: black;
  height: 70%;
  width: 100%;
}

.form {
  color: white;
  height: 70%;
  width: 25%;
  margin-top: 100px;
}

.textArea {
  width: 82.5%;
  height: 25px;
  margin-top: 3px;
  font-size: 1.15em;

}

.submitbtn {
  color: black;
  background-color: lightgray;
  width: 120px;
  height: 35px;
  border: none;
  font-size: 1.25em;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 40%;
  margin-top: 20px;
}
.submitbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submitbtn:hover span {
  padding-right: 25px;
}

.submitbtn:hover span:after {
  opacity: 1;
  right: 0;
  /* background-color: #004d4d; */
  color: white;
}
/* .submitbtn:hover {
  background-color: #004d4d;
  color: white;
} */

.birthday input {
  width: 50px;
  height: 25px;
  margin-top: 3px;
}

.timezone {
  height: 25px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.celcius,
.fahrenheit  {
  margin-right: 10px;
  margin-left: 5px;
}

.reminder {
  width: 82.5%;
  height: 25px;
  margin-top: 3px;
  font-size: 1.15em;
}

.resetbtn {
  position: relative;
  background-color:lightgray;
  border: none;
  font-size: 20px;
  color:black;
  /* padding: 20px; */
  height: 35px;
  width: 120px;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.resetbtn:after {
  content: "";
  background: #004d4d;;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.resetbtn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}