html,body{
  width:100%;
  height: 100%;
}
body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Open Sans';
  background-color: black;
  color: white;
}

header{
  /* overflow: hidden; */
  /* position: fixed; */
  top: 0;
  display: flex;
  background-color: #003333;
  /* margin: -8px -8px 0 -8px; */
  height: 50px;
  /* padding: 0 0 0 0;  */
  padding:0;
  width: 101%;
  flex-direction: row;
  
}
header> div > p{
  /* font-family:Arial, Helvetica, sans-serif ; */
  font-family: 'Open Sans';
  /* font-size: 20px; */
  text-decoration: underline;
  clear: both; 
  justify-content: center;
  padding-left: 30px;
  
}

header > .dropdown> .dropbtn {
  background-color: #003333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn {
  background-color: black;
  color: white;
  /* padding: 6px; */
  /* font-size: 16px; */
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
  /* height: 10000px; */
}

.dropdown:hover .dropbtn {
  background-color: #004d4d;
}
.show{
  display: block;
}

.add-btn{
  width: 20px;
  height: 20px;
  text-align: center;
  /* line-height: 1px; */
  display: flex;
  justify-content: start;
  align-content: flex-end;
}

/* .widget { display: none; padding: 5px; } */

@font-face {
  font-family: 'weather';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
       url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.weather {
  /* width: 500px; */
  /* margin: 0px auto; */
  text-align: center;
  /* text-transform: uppercase; */
}

i {
  color: #fff;
  font-family: weather;
  /* font-size: 150px; */
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

ul {
  margin: 0;
  padding: 0;
}


.currently {
  margin: 5px 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
}

.back{
  /* background-color: #485563; */
  padding-left: 10px;
  color: white;
  background: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.option {
  /* border: 1px white solid; */
  height: 22%;
  width: 40%;

}
.option:hover {
  background: grey;
}
#box1, #box2, #box3, #box6, #box7, #box8 {
  /* border: 1px white solid; */
  width: 30%;
  height: 25%;
}
#box4, #box5 {
  /* border: 1px white solid; */
  height: 15%;
  width: 95%;
}



.widget {
  text-align: center;
}
.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  /* overflow: hidden; */
}

.clockwidget {
  width: 20px;
  border: none;
  zoom: 0.9;
}
.calendarWidget {
  zoom: 0.9;
  align-self: center;
}
.greetingWidget {
  text-align: center;
  font-size: 2em;
}

#box4 > .front {
  font-size: 2.5em;
}

#box5 > .front {
  font-size: 2.5em;
}

.save {
  border: white 1px solid;
  text-align: center;
  width: 40px;
}
.save:hover {
  background-color: grey;
}

.flip-clock-wrapper {
  width: 300px !important;
  align-self: center;
  font-family: 'Open Sans' !important;
}

.jqx-layout-group-auto-hide-content-vertical
{
    width: 200px;
}

a {
  text-decoration: none;
  color: white;
}

.forecastWidget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.weatherIcon {
  font-size: 1.4rem;
}

.forecastDiv {
  width: 20%;
}

.reminderWidget {
  font-size: 2rem;
}

.dateWidget {
  font-size: 2rem;
}

.location {
  font-size: 1.5rem;
}

.currently {
  font-size: 1.5rem;
}
.wind {
  font-size: 1.5rem;
}

.newsWidget {
  font-size: 1.5rem;
}

#box4 > .front > .calendarWidget, #box5 > .front > .calendarWidget  {
  font-size: 1rem !important;
  zoom: 0.9 !important;

} 

#box4 > .front > .newsWidget, #box5 > .front > .newsWidget {
  font-size: 1.9rem;
}

#box4 > .front > .widget > .fa-plus-circle, #box5 > .front > .widget > .fa-plus-circle {
  font-size: 1.7em;
}

.secretBtn{
  width:10px;
  height: 10px;
}

.momentoftruth{
  /* font-size:100px; */
  font-family:impact;
  /* border: 3px solid cyan; */
  font-size: 300%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
	
 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(https://media.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;

}