
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/about.css" type="text/css">
    <title>Dasher | About</title>
</head>
<body>

<main>
    <div class="container">
        <div class="headline1"><h2>The Journey</h2></div>
        <div class="project">
            <img src="/images/project.jpg" alt="dashboard image">
            <p>Dasher is a Node/Express server-rendered, customizable dashboard application. 
                Handlebars.js partials were used to render the front-end views. 
                The user can login using GitHub authentication. 
                Dasher offers the user a choice of widgets (i.e. calendar, RSS feed) 
                that they can customize and save to their preferences. 
                Settings are stored in a PostgreSQL database. Our initial vision for this project 
                was to build a useful desktop application. We hope to bring this application to life 
                by intergrating it into the Internet of Things. We plan to build a Magic Mirror, 
                which would display our application on an LCD computer screen.</p>
        </div>
        <div class="headline2"><h2>The Developers</h2></div>
        <div class="dev">
            <div class="hamza">
                <h3>Hamza Haseeb</h3>
                <img src="/images/hamza.jpg" alt="Hamza Haseeb Headshot">
                <p>Hamza is a former Biologist with a passion for technology. </p>
            </div>
            <div class="jen">
                <h3>Jennifer Johnson</h3>
                <img src="/images/jen.png" alt="Jen Johnson Headshot">
                <p>Jennifer is a mathematician/statistician turned software engineer. </p>
            </div>
            <div class="steph">
                <h3>Stephanie Asmar</h3>
                <img src="/images/steph.jpg" alt="Stephanie Asmar Headshot">
                <p>Stephanie is a jane-of-all-trades turned software developer. Through exposure in her last role, she became interested in programming and decided to make the leap to join the tech indusstry. She hasn't looked back since.</p>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer"></div>
</footer>
<script src="https://use.fontawesome.com/966ad21209.js"></script>    
</body>
</html>