{{!--index.hbs--}}

<span>
    <img class="dasher-logo"src="images/dasher-logo.svg" alt="dasher-logo">
    <h1>Welcome to Dasher</h1>
    <h2>Sign in with your Github account</h2>
    <a href="/auth/github"><i class="fa fa-github fa-4x logo" aria-hidden="true"></i></a>
    <canvas id="canvas-image"></canvas>
</span>
<script src="https://use.fontawesome.com/1092cb84a3.js"></script>
<script src="granim.js-1.0.6/dist/granim.min.js"></script>
<script src="javascripts/splash.js"></script>





