<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/">Dashboard</a>
          <a href="/users">Profile Settings</a>
          <a href="/facilities">About</a>
          <a href="/addUser">Logout</a>
      </div>
    </div>
    <div>
      <p>Dasher-app</p>
    </div>
    </header>
    {{{body}}}
    <div class='widget-rows'>
      <div class='three-widget-row'>
        <div>Widget box 1
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a href="/">Clock</a>
              <a href="/users">Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
        <div>Widget box 2
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a href="/">Clock</a>
              <a href="/users">Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
        <div>Widget box 3
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a href="/">Clock</a>
              <a href="/users">Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='widget-rows-long'>
        <div class='two-widget-column'> Widget box 4 long
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a href="/">Clock</a>
              <a href="/users">Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
        <div class='two-widget-column'> Widget box 5 long
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a href="/">Clock</a>
              <a href="/users">Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='widget-rows'>
      <div class='three-widget-row'> 
        <div>Widget box 6
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a href="/">Clock</a>
              <a href="/users">Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
        <div>Widget box 7
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a href="/">Clock</a>
              <a href="/users">Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
        <div>Widget box 8
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a href="/">Clock</a>
              <a href="/users">Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
