<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>

  </head>
  <body>
    <header>
      <div class="dropdown">
        <button  class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/">Dashboard</a>
          <a href="/users">Profile Settings</a>
          <a href="/facilities">About</a>
          <a href="/addUser">Logout</a>
      </div>
    </div>
    <div>
      <p>Dasher-app</p>
    </div>
    </header>
    {{{body}}}
    <div class='widget-rows'>
      <div class='three-widget-row'>
        <div>Widget box 1
          <div class='widget'></div>
          <div class="dropdown">
          <button type='button' class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a type='button' onclick="news()">News</a>
              <a type='button' onclick="message()">Message</a>
            </div>
          </div>
        </div>
        <div>Widget box 2
          <div class='widget'></div>
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
        <div>Widget box 3
          <div class='widget'></div>
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='widget-rows-long'>
        <div class='two-widget-column'> Widget box 4 long
          <div class='widget'></div>
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
        <div class='two-widget-column'> Widget box 5 long
          <div class='widget'></div>
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='widget-rows'>
      <div class='three-widget-row'> 
        <div>Widget box 6
          <div class='widget'></div>
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
        <div>Widget box 7
          <div class='widget'></div>
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
        <div>Widget box 8
          <div class='widget'></div>
          <div class="dropdown">
          <button class="dropbtn">+</button>
            <div class="dropdown-content">
              <a type='button' onclick="clock(this)" class='clock'>Clock</a>
              <a type='button' onclick="weather(this)" class='weather'>Weather</a>
              <a href="/facilities">News</a>
              <a href="/addUser">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="javascripts/main.js">
    </script>
  </body>


</html>
