<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>

</head>

<body>
  <header>
    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a href="/dashboard">Dashboard</a>
        <a href="/settings">Profile Settings</a>
        <a href="/about">About</a>
        <a href="/home">Logout</a>
      </div>
    </div>
    <div>
      <p>Dasher-app</p>
    </div>
  </header>
  {{{body}}}

  
  <script src="javascripts/jquery.flip.min.js"></script>
  <script src="javascripts/main.js"></script>
</body>
</html>